<div class="card-columns p-3">

    <div class="card">

        <img src="assets/imagenes/fondo about us.jpg" class="card-img-top" alt="motociclista">

        <div class="card-body">

            <h5 class="card-title">EXPERIENCIA</h5>
            <p class="card-text">Somos una empresa con 13 años de experiencia dedicada a la comercializacion de
                cascos especializados. </p>
        </div>

    </div>

    <div class="card">

        <img src="../../../assets/imagenes/las2 carbonizare2.jpeg" class="card-img-top" alt="ls2">

        <div class="card-body">

            <h5 class="card-title">EXCLUSIVIDAD</h5>
            <p class="card-text">Traemos los cascos mas exclusivos del area.</p>

        </div>

    </div>

    <div class="card bg-secondary text-white text-center mt-5 p-3" style="background-color: transparent;">

        <blockquote class="blockquote">
            <p>CONOCE NUESTRA TIENDA</p>
            <video controls style="height: 550px;">
                <source src="../../../assets/imagenes/video premium helmet.mp4">
            </video>
        </blockquote>

    </div>

    <div class="card">

        <img style="height: 350px;" src="assets/imagenes/nexx.jpeg" class="card-img" alt="nexx">
        <div class="card-body">
            <h5 class="card-title">VARIEDAD</h5>
            <p class="card-text">Contamos con diversidad de marcas de alta gama.</p>

        </div>

    </div>

    <div class="card">

        <img style="height: 350px;" src="assets/imagenes/logo.png" class="card-img" alt="logo">
        <div class="card-body">
            <h5 class="card-title">MARCA</h5>
            <p class="card-text">Somos una empresa con largo recorrido en el oriente antioqueño</p>

        </div>

    </div>

</div>
