<div class="d-flex justify-content-around space-around ref;">

    <a href="https://www.nolan.it/es" class="badge badge-primary ref">NOLAN</a>
    <a href="https://ls2helmets.com/es/" class="badge badge-secondary ref">LS2</a>
    <a href="https://www.agv.com/es/es/" class="badge badge-success ref">AGV</a>
    <a href="https://shark-helmets.com/" class="badge badge-danger ref">SHARK</a>
    <a href="https://www.nexx-helmets.com/es/" class="badge badge-warning ref">NEXX</a>

</div>

<div class="row row-cols-1 row-cols-md-3 p-3">
    <div class="col mb-4">
        <div class="card h-100">
            <img src="assets/imagenes/nolan.jpeg" class="card-img-top" alt="nolan helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">NOLAN N60</h5>
                <p class="card-text clase-texto">Marca italiana, patrocinadora de motoGP. fabricado en abs de alta
                    densidad.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="assets/imagenes/ls2.jpeg" class="card-img-top" alt="ls2 helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">LS2 327 ARROW</h5>
                <p class="card-text clase-texto">Marca española, casco tipo touring, totalmente ensamblado, peso de
                    menos
                    1280gr.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="../../../assets/imagenes/agv.jpeg" class="card-img-top" alt="agv helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">AGV K-3 SV</h5>
                <p class="card-text clase-texto">Marca italiana, cetificacion SHARP 4 con 2 años de garantia directa
                    con la marca, especial para carreras.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="assets/imagenes/nexx.jpeg" class="card-img-top" alt="nexx helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">NEXX SX100 R</h5>
                <p class="card-text clase-texto">Marca portuguesa, fabricado en abs de alta densidad, visor
                    antiscraft.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="assets/imagenes/ls21.jpeg" class="card-img-top" alt="ls2 helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">LS2 323 CARBONIZARE</h5>
                <p class="card-text clase-texto">Marca española, casco completamente ensamblado en fibra de carbono,
                    con visor de seguridad y bloqueo, tapizado de emergencia.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>

    <div class="col mb-4">
        <div class="card h-100">
            <img src="assets/imagenes/nolan1.jpeg" class="card-img-top" style="height:360px;" alt="nolan helmet">
            <div class="card-body">
                <h5 class="card-title clase-texto">NOLAN N60</h5>
                <p class="card-text clase-texto">Marca italiana, patrocinadora de motoGP. fabricado en abs de alta
                    densidad.</p>
                <p class="parrafo"> <a class="boton_personalizado" routerLink="/productos">COMPRAR</a> </p>
            </div>
        </div>
    </div>
</div>